@if (Session["User"] != null)
{
    <li>
        <span class="fa fa-sign-out"></span>
        <strong>@Html.ActionLink("Logoff", "Logoff", "Account")</strong>
    </li>
}
else
{
    <li>
        <span class="fa fa-user"></span>
        <strong>@Html.ActionLink("Register", "Register", "Account")</strong>
    </li>
    <li>
        <span class="fa fa-sign-in"></span>
        <strong>@Html.ActionLink("Login", "Login", "Account")</strong>
    </li>
}
