@model List<Common.DTO.AlbumDTO>

@{
    ViewBag.Title = "All Albums";
}

<div id="gallery">
    <figure>
        <header class="heading">All Albums</header>
        <ul class="nospace clear">
            @foreach (var item in Model.Select((value, i) => new { i, value }))
            {
                var value = item.value;
                var index = item.i;

                if (index % 4 == 0)
                {
                    <li class="one_quarter first"><a href="#"><img src="data:image;base64,@System.Convert.ToBase64String(value.AlbumImage)" title="@value.AlbumName" /></a></li>
                }
                else
                {
                    <li class="one_quarter"><a href="#"><img src="data:image;base64,@System.Convert.ToBase64String(value.AlbumImage)" title="@value.AlbumName" /></a></li>
                }
            }
        </ul>
        <figcaption>Gallery Description Goes Here</figcaption>
    </figure>
</div>

<!-- ################################################################################################ -->
<nav class="pagination">
    <ul>
        <li><a href="#">&laquo; Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><strong>&hellip;</strong></li>
        <li><a href="#">6</a></li>
        <li class="current"><strong>7</strong></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><strong>&hellip;</strong></li>
        <li><a href="#">14</a></li>
        <li><a href="#">15</a></li>
        <li><a href="#">Next &raquo;</a></li>
    </ul>
</nav>